@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*.navigation {
    width: 100vw;
    height: 11vh;
    background-color: #051e96;
    position: absolute;
} */ /* Comentado é a linha de cima da barra de navegação*/

body header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(./img/bg-appClima.jpg);
    background-size: cover;
    color: #fff;
}







#menuToggle {
    display: block;
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 30px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked~ul {
    transform: none;
}







.container {
    background-color: #1346cd;
    width: 70%;
    height: 75vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.10);
    margin-top: 5%;
}

.container h2 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.input {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input input {
    outline: none;
    border: none;
    width: 75%;
    height: 40px;
    border-radius: 10px;
}

.button {
    width: 40px;
    height: 40px;
    margin-left: 4px;
    border-radius: 5px;
    border: 1px solid #001083;
    background-color: #0e39bb;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.10);
}

.button img{
    width: 100%;
    height: 100%;
}

.button:hover{
    scale: 1.1;
    transition: 0.5s;
}

.container h3 {
    width: 94%;
    text-align: center;
}

.temp-atual {
    width: 50%;
    text-align: center;
    
}

.temp-max-min {
    width: 24%;
    text-align: center;
}

.temp-atual h4, .temp-max-min h5 {
    width: 95%;
    background-color: #0e39bb;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.10);
}

.tempo-clima {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #051e96;
    border-radius: 5px;
}

@media screen and (max-width: 319.9px ) {

    .container {
        width: 92%;
    }

    .container h2 {
        font-size: 1rem;
    }

    .container h3 {
        font-size: 1rem;
    }

    .temp-atual, .temp-max-min {
        width: 94%;
    }

    .temp-atual h4, .temp-max-min h5 {
        font-size: 0.8rem;
    }

    .button {
        width: 15%;
        height: 30%;
    }

    .tempo-clima p {
        text-align: center;
        width: 100%;
        gap: -3.5px;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 92%;
    }
}